node_modules
npm-debug.log
build-debug.log
.DS_Store
.settings
.project
*.gz
*.pyc
*.komodoproject
/nbproject/private/


.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*